*{
    padding: 0; 
    margin: 0 auto;
}

header {
    width: 100%;
    height: 70px;
    background: rgba(30, 30, 30, 0.95);
    position: fixed;
    top: 0;
    z-index: 10;
}

header .container {
    position: relative;
}

header #logotipo {
    position: absolute;
    width: 150px;
    top: 6px;
}

#btn-bars {
    display: none;
}


/**** MENU ****/
#menu ul {
    padding: 10px 0;
    margin-top: 12px;
    float: right;
}

#menu li {
    display: inline-block;
    font-family: "Open Sans";
}

#menu li a {
    color: #fff;
    font-size: 16px;
    padding: 25px 27px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

#menu a:hover{
    background-color: #1a1a1a;
}
    
#menu ul li .sub-menu {
    position: absolute;
    visibility: hidden;
}

#menu ul li:hover .sub-menu {
   visibility: visible;
}

#menu ul .sub-menu li a {
    display: block;
    width: 250px;
    height: 30px;
    border-bottom: 1px solid #891b20;
    background:rgba(30, 30, 30, 0.9);
}

#menu ul .sub-menu li a:hover {
    background: #1a1a1a;
}

#menu ul li ul li .border-none {
    border: none;
}

/**** FOOTER ****/
footer {
    background-color: #101010;
    width: 100%;
    height: auto;
    padding: 30px
}

.content-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .endereco-footer h4 {
    font-size: 20px;
    color: #666;
    padding-bottom: 10px;
    margin: 0;
    font-family: 'Poppins';
}

footer .endereco-footer address {
    color: #666;
    font-family: 'Poppins';
    font-size: 14px;
    margin: 0;
}

footer .redes-sociais-footer ul li {
    display: inline-block;
    padding-right: 8px;
}

footer .list-socials a {
	display: block;
	border: #9B9B9B 3px solid;
	width: 50px;
	height: 50px;
	line-height: 0px;
	border-radius: 50%;
	text-align: center;
    margin-top: 10px;
    padding: 8px 6px;
    color: #9B9B9B;
}

footer .list-socials {
    margin: 0;
}

footer .list-socials i {
	padding: 0 6px;
}


/**** COPYRIGHT ****/
.copyright {
    width: 100%;
    height: 40px;
    background-color: #101010;
    border-top: #242d37 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright p {
    color: #666;
    font-family: "Poppins";
    font-size: 14px;
    padding-top: 7px;
}

/***********************************************************************************/

/**** SERVIÇOS ****/
#drop-down-servicos {
    position: relative;
    margin-bottom: 50px;
}

#drop-down-servicos .row .col-md-3 img {
    box-shadow: 0px 0px 1em #666;
    cursor: pointer
}

#drop-down-servicos .thumbnails {
    margin-top: 50px;
}

#drop-down-servicos .thumbnails h3 {
    color: #5e299a;
    font-size: 16px;
    font-family: "Open Sans";
    font-weight: bold;
    margin-bottom: 0;
}

#banner-drop-down-servicos {
    width: 100%;
    height: 200px;
    position: relative;
}

.drop-down-servicos-text h1{
    color: #fff;
    position: relative;
    font-size: 50px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .45);
    top: 50px;
}

/**** BANNER E FAIXAS ****/
.banner {
    background-color: #c0392b;
}

/**** ADESIVOS E DECORATIVOS ****/
.adesivos {
    background-color: #16a085;
}
/**** PLACAS DE SINALIZAÇÃO ****/
.placas {
    background-color: #f1c40f;
}

/**** FACHADAS E LUMONOSOS ****/
.fachada {
    background-color: #9b59b6;
}

/**** SINALIZAÇÃO INTERNA ****/
.s-interna {
    background-color: #2980b9;
}

/**** SINALIZAÇÃO DE VEICULOS ****/
.s-veiculos {
    background-color: #27ae60;
}

/**** LETRAS CAIXA ****/
.letras {
    background-color: #e67e22;
}
/**** CONVITES FINOS ****/
.convites {
    background-color: #95a5a6;
}