#banner-servicos {
  width: 100%;
  height: 500px;
  position: relative;
  background-image: url("../img/banner-servicos.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  top: -90px;
}

#banner-servicos h1 {
  color: #fff;
  top: 230px;
  position: relative;
  font-size: 60px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .45);
  font-family: 'Poppins';
}

#banner-servicos h1 small {
  font-size: 32px;
  display: block;
  color: #fff;
  font-family: 'Poppins';
}

#servicos {
  top: -55px;
  position: relative;
}

#servicos h2 {
  color: #1a1a1a;
  font-family: 'Poppins';
  font-size: 40px;
  text-transform: uppercase;
}

#servicos hr {
  border: #b63b42 solid 5px;
  width: 250px;
  margin: 0 auto;
}

.carousel-servicos {
  margin-top: 40px;
}

#estatisticas-servicos {
  background-color: #6C7A89;
  width: 100%;
  height: auto;
  text-align: center;
}

#estatisticas-servicos img {
  color: #fde092;
  text-transform: uppercase;
  font-family: "Poppins";
  font-size: 64px;
  margin-top: 36px;
  margin-bottom: 15px;
}

#estatisticas-servicos p small {
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
  display: block;
  font-family: 'Poppins';
}

#estatisticas-servicos p {
  color: #fff;
  font-family: 'Poppins';
  margin-bottom: 50px;
}