.container {
  width: 100%;
  background: var(--header-color);

  header {
    max-width: 1200px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

    img {
      width: 120px;
    }

    .mobile-menu {
      display: none;
      cursor: pointer;

      div {
        width: 30px;
        height: 2px;
        background: #fff;
        margin: 8px;
      }
      
    }

    nav {
    
      .nav-list {
        display: flex;

        li {
          display: inline-block;
          margin-left: 40px;

          a {
            text-decoration: none;
            color: var(--text-header);
            font-family: var(--body-font);
            font-size: 15px;

            &:hover {
              color: var(--heading)
            }

          }
        }
      }
    }
  }
}


@media screen and (max-width:1260px) {
  .container {
    header {
      width: 100%;
      padding: 0 20px;
    }
  }
}

// @media screen and (max-width: 950px) {
//   .container {
//     header {

//       .mobile-menu {
//         display: block;
//       }
//     }
//   }
  

//   .nav-list {
//     position: absolute;
//     top: 80px;
//     right: 0;
//     width: 100vw;
//     height: 92vh;
//     background: var(--header-color);
//     flex-direction: column;
//     align-items: center;
//     justify-content: space-around;
//     transform: translate(100%);
//     transition: transform .3s ease-in;

//     .active {
//       transform: translate(0);
//     }

//     li {
//       margin-left: 0;
//       opacity: 0;
//     }
//   }
// }